.header{
  background:#143A6B;
  width:100%;
  box-sizing:border-box;
  height:100px;
  display:flex;
  justify-content:flex-end; /* joga para a direita */
  align-items:center;
  padding-right:30px;
}

.brand{
  display:flex;
  align-items:center;
  gap:15px;
}

.brand img{
  height:70px;
  width:auto;
}

.brand h1{
  color:#F3E7C5;
  font-family:'Segoe UI', sans-serif;
  font-size:2rem;
  font-weight:300;
  margin:0;
}

.brand h1 span{
  font-weight:700;
}
